<div class="card mt-3 bg-light" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <label>Amount</label>
    <input type="number" class="form-control" [(ngModel)]="document.amount">
    <label>Description</label>
    <input type="text" class="form-control" [(ngModel)]="document.description">
    <label>Date</label>
    <input type="date" class="form-control" [(ngModel)]="viewDate">
    <label>Category</label>
    <select name="" class="form-control" [(ngModel)]="document.category">
      <option *ngFor="let c of categories"></option>
    </select>
    <br>
    <button type="buton" class="btn btn-primary card-link" (click)="onSubmit()">{{ btnText }}</button>
    <button type="buton" class="btn btn-danger card-link" 
    (click)="onDelete()" *ngIf="isEditing">Delete</button>
  </div>
</div>